.form-layout {
    position: relative;
    height: 100%;

    .form-body {
        position: relative;
        height: calc(100% - 100px);
        overflow-y: auto;
        padding: 16px;

        .form-step {
            margin: 12px 0 16px 0;
        }

        .ant-segmented .ant-segmented-item {
            width: 100%;
        }
    }

    .form-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px;
        background: #fff;
        border-top: 1px solid #e8e8e8;
        text-align: right;
    }
}