.ant-drawer{
    z-index: 999 !important;
}

#drawerCustom {
    .ant-drawer-body {
        height: 100%;
        background-color: #f5f5f5;
        min-width: 350px;
        padding: 0 !important;

        form {
            height: inherit;
        }

        .ant-steps-finish-icon>svg {
            color: white;
        }

        .ant-steps-item-title {
            font-weight: 600;
            color: #101828 !important;
        }
    }
    .minimizeButton,
    .closeButton{
        background: #f9fafb;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid #EAECF0;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        cursor: pointer;
    }
    .minimizeButton svg,
    .closeButton svg{
        width: 20px;
        height: 20px;
    }
}

.hideHeader .ant-drawer-header{
    display: none;
}