.working-time {
	border-radius: 12px;
	border: 1px solid #eaecf0;
	overflow: hidden;

	.table-header {
		background-color: #e7f1fe;
		padding: 11px 16px;
		grid-template-columns: 2fr 2fr 2fr 1.5fr 2fr;
        
        &.no-break {
            grid-template-columns: 2fr 2fr 2fr 1.5fr;
        }
	}

	.table-body{
		background-color: #fff;
	}

	.table-item {
		border-top: 1px solid #eaecf0;
		padding: 8px 0;
	}

	.table-row {
		padding: 8px 16px;
		align-items: center;
		grid-template-columns: 2fr 2fr 2fr 1.5fr 2fr;

        &.no-break {
            grid-template-columns: 2fr 2fr 2fr 1.5fr;
        }

		.ant-picker {
			width: 120px;
		}
	}
	.add-break {
		color: var(--ant-color-primary);
		border: none;
	}
}
