.avatar-uploader {
    cursor: pointer;
    height: 100px;

    .avatar-wrapper {
        position: relative;
        .camera {
            position: absolute;
            bottom: -8px;
            right: -8px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #EAECF0;
            background-color: #F9FAFB;

            &.hidden {
                display: none;
            }
        }

    }

}