@use "../../../scss/abstracts/index" as *;

.ant-tabs {
  width: 100%;
  .ant-tabs-nav {
    margin: 0;
  }
  .editor-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    position: relative;
    border: 1px solid var(--border-color);
    .editor-menu-bar {
      .ck-menu-bar {
        background: var(--bgc);
      }
    }
    .editor-toolbar {
      .ck-toolbar {
        border: none !important;
        border-radius: 0 !important;
        // background: var(--bgc);
        // .ck-toolbar__items {
        //   .ck-icon,
        //   .ck-button__label {
        //     color: var(--text-head-color) !important;
        //   }
        // }
        // .ck-dropdown__panel .ck-list{
        //   background: var(--bgc) !important;
        // }
      }
    }
    .editor-content {
      border-top: 1px solid var(--border-color);

      .ck-content {
        height: 480px;
        margin: 0px 20px 30px;
        border: none !important;
        color: var(--text-color);
      }
      .ck-content:hover {
        border: none !important;
      }
      .ck-focused {
        border: none !important;
        box-shadow: none !important;
      }
    }
    .editor-word-count {
      border-top: 1px solid var(--border-color);
      .ck-word-count {
        color: var(--text-color);
        display: flex;
        gap: 12px;
        justify-content: flex-end;
        font-size: 13px;
        padding: 8px;
      }
    }
  }

  .html-textarea {
    width: 100%;
    height: 500px;
    padding: 10px;
    border: 1px solid var(--border-color);
    resize: none;
    border-radius: 0;
  }

  .word-count {
    margin-top: auto;
    padding: 0 8px;
    text-align: left;
    border: 1px solid #ccc;
    background: #f6f7f7;
    font-size: 13px;
  }
}
