//tree css

.tree-field {
    .tree-parent .ant-tree-switcher,
    .tree-leaf .ant-tree-indent,
    .tree-leaf .ant-tree-switcher {
        display: none;
    }

    .tree-parent {
        margin: 20px 0 10px 0;
        &:first-child {
            margin-top: 0;
        }
    }

    .tree-leaf {
        margin-left: 24px;
        width: calc(100% - 34px);
        padding: 10px !important;
        border: 1px solid var(--ant-color-border);
        margin-bottom: 10px;
        border-radius: 14px;
        position: relative;
    }
    .tree-leaf::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0;
        left: -17.5px;
        height: calc(100% + 12px);
        border-left: 1px solid var(--ant-color-border);
    }
    .tree-leaf.ant-tree-treenode-leaf-last::before {
        height: 100%;
    }
}
